<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script src="/js/uploadImage.js" type="module"></script>
  <script src="/js/viewImages.js" type="module"></script>


  <title>Media</title>
</head>
<body>

<input type="file" id="image-input" accept="image/*">
<div id="image-preview"></div>
<button id="save-btn" type="button" style="display: none;">Save Image</button>





<button id="preview-btn" type="button" class="btn btn-primary">View images</button>
<div id="previewContiner">
  <h1>Images from Google Cloud Storage</h1>
  <div id="imageContainer"></div>
</div>



<!--<input type="file" id="video-input" accept="video/*">-->
<!--<div id="video-preview"></div>-->

</body>
</html>